welcome to your homepage <%= @player.username %>
<sub><a href="/logout">log out</a></sub><br></br>

your team:
<% if @player.team %>
  <a href="/team/<%= @player.team.name %>"><%= @player.team.name %></a>
  <sub><a href="/team/edit">change team</a></sub>
<% else %>
  <a href="/team/new">add/find your team</a>
<% end %>

<br></br>
<a href="/game/new">add a new game and goals</a>

<br></br>
<h3>your recent activity</h3>

<% @player.games.each do |x| %>
  game played on <%= x.datetime %> <br></br>
  <% x.goals.each do |y| %>
    <% if y.player == @player %>
      goal scored in minute <%= y.minute %><br></br>
    <% end %>
  <% end %>
<% end %>



