welcome <%= @player.username %>
<sub><a href="/player/<%= @player.username %>">homepage</a> <a href="/logout">log out</a></sub>


<h3><%= @team.name %></h3>

<h4>team roster</h4>
<% @team.players.each do |y| %>
  <%= y.username %> 
<% end %>

<h4>team's recent activity</h4>  

<% @team.games.each do |x| %>
  game played on <%= x.datetime %>
  <% if @team.players.include?(@player) %>
    <sub><a href="/game/<%= x.datetime %>/show">view</a></sub>
  <% end %><br></br>
  <% x.goals.each do |y| %>
    <% if y.team == @team %>
      goal in minute <%= y.minute %> by <%= y.player.username %><br></br>
    <% end %>
  <% end %>
<% end %>