
welcome <%= @player.username %>
<sub><a href="/logout">log out</a></sub><br></br>

<form method="post" action="/game/:date/add_goals">
  add game by date <br></br>
  day <input type="text" name="game_date[day]">
  month <input type="text" name="game_date[month]">
  year <input type="text" name="game_date[year]"><br></br>
  
  <p>
  choose home and away teams
  </p>

  <div class="one">
    home<br></br>
    <% Team.all.each do |x| %>
      <input type="radio" name="home_team" value="<%= x.name %>"><%= x.name %><br></br>
    <% end %>
  </div>

  <div class="two">
    vs.
  </div>

  <div class="three">
    away<br></br>
    <% Team.all.each do |y| %>
      <input type="radio" name="away_team" value="<%= y.name %>"><%= y.name %><br></br>
    <% end %>
  </div>
  
  <div class="four">
    <input type="submit" value="add goals">
  </div> <!-- four -->
</form>