welcome <%= @player.username %>
<sub><a href="/player/<%= @player.username %>">homepage</a> <a href="/logout">log out</a></sub><br></br>

<form method="post" action="/game/:date/add_goals">
  add game by date <br></br>
  year <input type="text" name="game_date[year]">
  month <input type="text" name="game_date[month]">
  day <input type="text" name="game_date[day]"><br></br>
  
  <p>
  choose teams
  </p>

  <div class="one">
    team 1<br></br>
    <input type="radio" name="home_team" value="<%= @player.team.name %>" checked><%= @player.team.name %><br></br>
  </div>

  <div class="two">
    vs.
  </div>

  <div class="three">
    team 2<br></br>
    <% Team.all.each do |y| %>
      <% if @player.team != y %>
        <input type="radio" name="away_team" value="<%= y.name %>"><%= y.name %><br></br>
      <% end %>
    <% end %>
  </div>
  
  <div class="four">
    <input type="submit" value="add goals">
  </div> <!-- four -->
</form>