to add a result enter a game by date, choose home and away teams<br></br>

<div class="flash">
  <% if flash[:message] %>
    <%= flash[:message] %>
  <% end %><br></br>
</div> <!-- flash -->

<form method="post" action="/game/:date/add_goals">
  add game by date (yyyy) <br></br>
  <input type="text" name="game_date"><br></br>

  home<br></br>
  <% Team.all.each do |x| %>
    <input type="radio" name="home_team" value="<%= x.name %>"><%= x.name %><br></br>
  <% end %>

  away<br></br>
  <% Team.all.each do |y| %>
    <input type="radio" name="away_team" value="<%= y.name %>"><%= y.name %><br></br>
  <% end %>
  <input type="submit" value="add goals">
</form>